  h2{margin-left:30px}
                  
                        #main{
                            float:left;
                            width:75%;
                            
                        }  
    #header{
        
        width:100%;
        
        text-align: center;
      }
       #sidebar-right{
        float:left;
        width:10%;
      }
       #footer{
        clear:both;
        height: 50px;
        width: 100%;
        text-align: center;
        
      }

.navbar navbar-expand-lg navbar-dark bg-primary{margin:20% auto;}
.section menu{background: #000000 !important}

.nav-brand {
	height: 85px;margin: -35px;margin-left: 20px;
}

input[type=submit] {
width:40%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-top:10px;
margin-bottom:15px
}

input{width: 300px;   font-size: 15px;
                padding: 4px 4px 5px 4px;
                border-top: 1px solid #b3b3b3;
                border-left: 1px solid #b3b3b3;
                border-right: 1px solid #eaeaea;
                border-bottom: 1px solid #eaeaea;}
            table.form input, table.form select {
                font-size: 15px;
                padding: 4px 4px 5px 4px;
                border-top: 1px solid #b3b3b3;
                border-left: 1px solid #b3b3b3;
                border-right: 1px solid #eaeaea;
                border-bottom: 1px solid #eaeaea;

        }
        table.form label {
            font-weight: bold;
            margin-right: 10px;
        }
        table.form td {
            padding: 4px 0px;
        }
   .image img{
  background: transparent;
  border-radius: 50%;
  height: 80px;
  margin-top: -16px;
  margin-bottom: -16px;
  margin-right: 50px;
  margin-left: 50px;
}